services:
  frontend:
    build:
      context: ..
      dockerfile: frontend/Dockerfile
      no_cache: true
    restart: unless-stopped
    ports:
      - '3000:80'
    environment:
      API_HOST: http://localhost
