version: '3.8'
services:
  db:
    image: postgis/postgis:16-master
    container_name: lomnia-pg
    restart: always
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: lomnia
      POSTGRES_PASSWORD: lomnia
      POSTGRES_DB: lomnia
    volumes:
      - local_pgdata:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    restart: always
    ports:
      - '8888:80'
    environment:
      PGADMIN_DEFAULT_EMAIL: lomnia@lomnia.com
      PGADMIN_DEFAULT_PASSWORD: lomnia
    volumes:
      - pgadmin-data:/var/lib/pgadmin

volumes:
  local_pgdata:
  pgadmin-data:
