#root {
  max-width: 1700px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: 'JetBrains Mono', monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
